- name: Deploy DevOps HTML Project
  hosts: webservers
  become: true
  tasks:
    - name: Stop existing container
      command: docker rm -f devops-html
      ignore_errors: yes

    - name: Remove old image
      command: docker rmi devops-html:latest
      ignore_errors: yes

    - name: Copy project files
      synchronize:
        src: "{{ playbook_dir }}/../"
        dest: /home/abhishek/devops_project/
        recursive: yes
        delete: yes

    - name: Build new Docker image
      command: docker build -t devops-html:latest /home/abhishek/devops_project/

    - name: Run container
      command: docker run -d -p 8089:80 --name devops-html devops-html:latest
